<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="favicon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cui·sine</title>
</head>

<body>
    <div id="overlay"></div>
    <a href="#mainContent" class="skip-link">Skip to Content</a>
    <header>
        <button id="hamburger">☰</button>
        <h1>
            cui·sine
        </h1>
    </header>
    <nav id="navigationDrawer">
        <button id="multiplication">✕</button>
        <ul>
            <li><a href="#/home">Home</a></li>
            <li><a href="#/favorite">Favorite</a></li>
            <li><a href="https://github.com/reynaldichernando" target="_blank">About Us</a></li>
        </ul>
    </nav>

    <main id="mainContent">
        <!-- <h2>Explore Restaurants</h2> -->
        <!-- <div id="restaurant-list">
            <div id="restaurant-item-template">
                <img class="picture" src="" alt="" width="300px">
                <div class="city"></div>
                <div class="card-header">
                    <h3 class="title"><a href="#"></a></h3>
                    <div class="rating-item">
                        Rating: <span class="rating"></span>
                    </div>
                </div>
                <div class="card-body">
                    <p class="description"></p>
                </div>
            </div>
        </div> -->
    </main>

    <footer>
        Copyright © 2021 - <span id="company-name">cui·sine</span>
    </footer>
</body>

</html>