* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    background-color: white;
    color: black;
    padding: 8px;
    z-index: 100;
}
  
.skip-link:focus {
    top: 10px;
}

a {
    color: inherit;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
}

#restaurant-item-template {
    display: none;
}

header {
    display: flex;
    justify-content: center;
}

header h1 {
    padding: 10px;
    padding-top: 35px;
    font-family: 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    margin: 20px;
    flex-direction: column;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline-block;
    margin: 0 20px;
    padding: 15px;
    font-size: 1.1rem;
}

nav ul li a {
    padding: 15px;
    min-width: 44px;
    min-height: 44px;
}

#hamburger {
    display: none;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    height: 44px;
    width: 44px;
}

#multiplication {
    display: none;
    text-align: center;
    font-size: 30px;
    margin: 20px;
    height: 44px;
    width: 44px;
}

#hero {
    width: 100%;
    height: 75vh;
    background:linear-gradient(0deg, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)), url(/images/heros/hero-image_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-position: top;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#hero-header, #hero-detail {
    color: white;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 55%);
    padding: 20px;
    text-align: center;
}

#hero-header {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 200px;
    padding-bottom: 30px;
}

#hero-detail {
    font-size: 1.2rem;
}

.hero img {
    width: 100%;
    max-height: 650px;
    object-fit: cover;
    object-position: top;
}

main {
    flex: 1;
}

main h2 {
    text-align: center;
    margin: 30px;
}

#restaurant-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.restaurant-item {
    max-width: 500px;
    margin: 20px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 35%);
    position: relative;
}

.restaurant-item img {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: bottom;
}

.restaurant-item .city{
    color: white;
    background-color: rgb(40, 40, 40);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 15%);
    display: inline;
    padding: 8px;
    min-width: 85px;

    position: absolute;
    top: 15px;
    left: 0;
}

.restaurant-item .card-header {
    margin: 15px 25px 0 25px;
}

.restaurant-item .card-header h3, .restaurant-item .card-header h3 a {
    padding: 15px 0;
    min-width: 44px;
    min-height: 44px;
}

.restaurant-item .card-header .rating-item {
    font-size: 0.8rem;
    color: grey;
}

.restaurant-item .card-body p {
    padding: 15px 25px 25px 25px;
    line-height: 1.5rem;
    font-size: 1.1rem;;
}

footer {
    color: white;
    background-color: black;
    margin-top: 30px;
    padding: 40px;
    text-align: center;
}

#company-name {
    font-size: 1.2rem;
    font-family: 'Times New Roman', Times, serif;
}

/* 
    Detail Page
*/

#restaurant {
    width: 65%;
    margin: 0 auto;
}

.restaurant-poster {
    width: 100%;
}

.restaurant-info p, .restaurant-info h3, .restaurant-info h4, .restaurant-description h3, .restaurant-description p {
    margin: 10px;
}

.menu, .review-list {
    margin: 10px;
}

.restaurant-info, .restaurant-description, .menu, .review-list {
    margin-top: 30px;
}

.restaurant-description p {
    text-align: justify;
    line-height: 1.25rem;
}

.menu table {
    width: 100%;
    margin-top: 10px;
}

.menu table, .menu table th {
    border: 1px solid black;
}

.menu table th {
    padding: 10px;
}

.menu-item {
    display: flex;
    justify-content: space-between;
    margin: 5px;
}

.review-item {
    margin: 10px;
}

.review-item p {
    word-wrap: break-word;
}


/*
   Like
*/
.like {
    font-size: 18px;
    position: fixed;
    bottom: 16px;
    right: 16px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* 
    Loader
*/

.loader,
.loader:before,
.loader:after {
  background: #000000;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}
.loader {
  color: #000000;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1.5em;
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}
